---
import axios from 'axios';
import DevToPosts from '../components/DevToPosts.astro';
import Hero from '../components/Hero.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
import Newsletter from '../components/Newsletter';

const posts = await axios.get('https://dev.to/api/articles?username=fabiobiondi')
---
<Layout title="Astro Demo by Fabio Biondi">
	<Hero />
	<Title>Dev.To Posts</Title>
	<DevToPosts items={posts.data} />
	<Newsletter client:visible />
</Layout>

